.login-parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    padding: 20px;
}
.form-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accent{
    background-color: #a0d995e4;
    color: rgb(81, 81, 81);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.button-container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.login-container{
    width: 124px;
    text-decoration: none;
    border: 0;
    padding: 8px 28px;
    margin: 6px 24px 6px 0px;
    border-radius: 8px;
    background-color: #a0d995e4;
    font-size: 1.1rem;
    color: rgb(81, 81, 81);
    font-weight: bolder;
    border: 1px solid #6CC4A1;
    box-shadow: 0 0 8px #6CC4A1;
}
.signup-container{
    width: 124px;
    text-decoration: none;
    border: 0;
    padding: 8px 28px;
    margin: 6px 0px 6px 24px;
    border-radius: 8px;
    background-color: #a0d995e4;
    font-size: 1.1rem;
    color: rgb(81, 81, 81);
    font-weight: bolder;
    border: 1px solid #6CC4A1;
    box-shadow: 0 0 8px #6CC4A1;
}
.login-container:hover,.signup-container:hover {
    box-shadow: 0 0 12px #6CC4A1;
  }
.scrollable-menu {
    height: auto;
    max-height: 90px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 85%;
    border-radius: 0.2rem;
}
.form-control:focus{
    border-color: #6CC4A1;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.warning{
    color: rgb(81, 81, 81);
    text-shadow: 0 0 1px #6CC4A1;
    font-weight: bold;
}
.incorrect{
    color: red;
    font-weight: 400;
}