* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #F6FBF4;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #a0d995e4;
}
::-webkit-scrollbar-thumb {
  background: rgb(81, 81, 81);
  border-radius: 18px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
